<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:each="product : ${product}">
    <h3 th:text="${product.name}"></h3>
    <h3 th:text="${product.cost}"></h3>
    <form th:action="'/productInfoForUser/'+${product.id}+'/'+${userId}" method="post" >
        <div>

            <input type="text" value="1" size="5" name="quantity" placeholder="введите количество"/>

        </div>
        <button type="submit">купить</button>


    </form>

</div>
<div th:each="numericalProperty : ${numericalProperties}">
    <h3 th:text="${numericalProperty.propertyName}"></h3>
    <h3 th:text="${numericalProperty.propertyValue}"></h3>

</div>
<div th:each="booleanProperty : ${booleanProperties}">
    <h3 th:text="${booleanProperty.propertyName}"></h3>
    <h3 th:text="${booleanProperty.propertyValue}"></h3>

</div>




</body>

</html>