<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/homePage">выйти</a><br>
<a href="/pageOfUsers">пользователи</a><br>
<a href="/addProduct">добавить продукт</a><br>

<table>
    <tr>
        <th>название</th>
        <th>цена</th>
        <th>остаток</th>
        <th>удалить</th>
        <th>информация</th>
    </tr>
    <tr th:each="product : ${products}">
        <th th:text="${product.name}"></th>
        <th th:text="${product.cost}"></th>
        <th th:text="${product.quantity}"></th>
        <th><a th:href="'/productDelete/'+${product.id}">удалить</a></th>
        <th><a th:href="'/productInfo/'+${product.id}">информация о продукте</a><br></th>

    </tr>


</table>






</body>

</html>