<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/addProduct">добавить продукт</a>
<div th:each="product : ${products}">
    <h3 th:text="${product.name}"></h3>
    <h3 th:text="${product.cost}"></h3>

    <a th:href="'/productDelete/'+${product.id}">удалить</a><br>
    <a th:href="'/productInfo/'+${product.id}">информация о продукте</a><br>
</div>

</body>
</html>